<h1>All shouts</h1>

<% @shouts.reverse.each do |shout| %>
<%= shout.user.username %> <br>
<%= shout.text %> <br>
<h4><%= shout.likes.count %> Likes || <%= link_to "#{shout.comments.count} Comments", shout %> </h4>

<% end %>
