// Place all the styles related to the Shouts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#unlike {
    border-width: 0px;
    background-color: transparent;
    color:DeepPink;
}

#like {
    border-width: 0px;
    background-color: transparent;
    color: #3273dc;
}

.shouttitle {
    margin: 25px;
}

.column {
    
    margin-left:5%; 
    margin-right:5%;
}

.button {
    margin: 5px;
}

.commentstyle {
    margin-left: 5%;
}